.box{
    height: 20vh;
    width: 40vw;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}
button{
    padding: 10px 15px;
    background: aqua;
    border: none;
    border-radius: 6px;
}
span{
    color: rgb(3, 222, 222);
}