* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.parentContainer{
  width: 40vw;
  background: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}
.btnContainer{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
button{
  padding: 10px 22px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
.startBtn{
  background: #039324;
}
.stopBtn{
  background: #cda403;
}
.resetBtn{
  background: #af0404;
}